<div class="grid grid-pad">
    <form>
        <mat-card class="col-sm-12">
        <div class="col-sm-12">
            <mat-form-field class="full-size">
                <input matInput
                       [(ngModel)]="service.name"
                       placeholder="Service Name"
                       name="serviceName" />
            </mat-form-field>
        </div>
        </mat-card>

        <!-- Inputs -->
        <!-- <mat-card class="col-sm-12">
             <h3>Inputs</h3>
             <ul>
             <li *ngFor="let input of request.inputs">
             <mat-form-field class="col-sm-6">
             <input matInput
             [(ngModel)]="input.name"
             placeholder="input name"
             [ngModelOptions]="{standalone: true}" />
             </mat-form-field>
             <span class="col-sm-2"></span>
             <mat-form-field class="col-sm-4">
             <input matInput
             [(ngModel)]="input.defaultValue"
             placeholder="default value"
             [ngModelOptions]="{standalone: true}" />
             </mat-form-field>
             </li>
             </ul>
             <div class="col-sm-12">
             <mat-form-field class="col-sm-6">
             <input matInput placeholder="Input"
             [(ngModel)]="currentFillingInput"
             [ngModelOptions]="{standalone: true}" />
             </mat-form-field>
             <span class="col-sm-2"></span>
             <button mat-raised-button (click)="addInput()" class="col-sm-4">
             <mat-icon class="mat-24">add</mat-icon>Add input
             </button>
             </div>
             </mat-card> -->

        <!-- Headers -->
        <!-- <mat-card class="col-sm-12">
             <h3>Headers</h3>
             <ul>
             <li *ngFor="let header of request.headers">
             <mat-form-field class="col-sm-6">
             <input matInput
             [(ngModel)]="header.name"
             placeholder="header name"
             [ngModelOptions]="{standalone: true}" />
             </mat-form-field>
             <span class="col-sm-2"></span>
             <mat-form-field class="col-sm-4">
             <input matInput
             [(ngModel)]="header.defaultValue"
             placeholder="default value"
             [ngModelOptions]="{standalone: true}" />
             </mat-form-field>
             </li>
             </ul>
             <div class="col-sm-12">
             <mat-form-field class="col-sm-6">
             <input matInput placeholder="Header"
             [(ngModel)]="currentFillingHeader"
             [ngModelOptions]="{standalone: true}" />
             </mat-form-field>
             <span class="col-sm-2"></span>
             <button mat-raised-button (click)="addHeader()" class="col-sm-4">
             <mat-icon class="mat-24">add</mat-icon>Add header
             </button>
             </div>
             </mat-card> -->

        <mat-card class="col-sm-12">
        <h3>URL address</h3>
        <div class="col-sm-12">
            <button mat-button [mat-menu-trigger-for]="menu" class="col-sm-2"> {{request.method}} </button>
            <mat-menu #menu="matMenu">
                <button (click)="selectMethodGet()" mat-menu-item> GET </button>
                <button (click)="selectMethodPost()" mat-menu-item> POST </button>
            </mat-menu>
            <mat-form-field class="col-sm-10">
                <input matInput
                       [(ngModel)]="request.url"
                       placeholder="URL"
                       name="URL" />
            </mat-form-field>
        </div>
        </mat-card>

        <div class="col-sm-6">
            <div class="col-sm-6">
                <button color="primary" mat-button mat-raised-button (click)="test()" class="call-to-action">
                    <span class="continueButton">
                        Test
                    </span>
                </button>
            </div>
        </div>

        <mat-card class="col-sm-12" *ngIf="testExample">
            <h3>Response: {{ testFormat }}</h3>
            <div class="test-result" [innerHTML]="testExample | SelectFromJSON"></div>
        </mat-card>

        <mat-card class="col-sm-12" *ngIf="testExample">
            <h3>Result</h3>
            <mat-form-field class="col-sm-12">
                <input matInput placeholder="Response pattern"
                       [(ngModel)]="resultPhrase"
                       name="response" />
            </mat-form-field>
        </mat-card>

        <div class="col-sm-6">
            <button class="col-sm-6" [disabled]="resultPhrase.length < 1 || service.name.length < 0"
                    color="primary" mat-button mat-raised-button (click)="create()"
                    class="call-to-action">
                <span class="createButton">
                    Create
                </span>
            </button>
        </div>
        <div class="col-sm-6">
            <button class="col-sm-6" mat-button (click)="goBack()">Cancel</button>
        </div>
</form>
