.login-indicator {
    float: right;
}

a.action-link {
    color: orange;
    font-weight: bold;
    font-size: smaller;
}

.floating-elements {
    width: 100%;
}

.username-display {
    font-size: smaller;
}

.selected {
    background-color: #cfd8dc !important;
    color: white;
}

.bots {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

.bots li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}

.bots li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}

.bots li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.bots .text {
    position: relative;
    top: -3px;
}

.bots .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.viewer {
    margin: 0px;
}

#main-toolbar {
    padding-left: 0px;
}

#main-title {
    color: white;
    cursor: pointer;
    padding: 1em;
    text-decoration: none;
}

#main-title > .logo {
    width: 1em;
}

#main-menu-opener:hover {
    background-color: rgba(0,0,0, 0.3);
}
#main-menu-opener {
    padding: 1em;
    cursor: pointer;
}
