<div class="app-content">
    <mat-toolbar id="main-toolbar" color="primary">
        <!-- <span  id="main-menu-opener" role="button" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></span> -->
        <a (click)="goHome()" id="main-title"> <img class="logo" src="/assets/logo.png" alt=""> {{title}} </a>
        <span class="floating-elements">
            <span class="login-indicator">
                <div class="username-display" *ngIf="loggedIn">
                    <a class="action-link" (click)="logout()">Logout</a>
                </div>
                <div *ngIf="!loggedIn">
                    <a class="action-link" (click)="gotoLogin()">Login</a>
                </div>
            </span>
        </span>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side" opened="false">
            <mat-toolbar class="mat-medium-tall">
                <button mat-button (click)="gotoDashboard()">
                    Bots
                </button>
            </mat-toolbar>
            <mat-toolbar class="mat-medium-tall">
                <button mat-button (click)="gotoPrograms()">
                    Programs
                </button>
            </mat-toolbar>
            <mat-toolbar class="mat-medium-tall">
                <button mat-button (click)="gotoServices()">
                    Services
                </button>
            </mat-toolbar>
        </mat-sidenav>

        <div class="viewer">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-container>
</div>
