<div id="dashboard">
  <div class="collection-grid">
      <h1 class="collection-name">
          Programs
      </h1>
      <div class="grid grid-pad">
          <div class="row">
            <div *ngFor="let program of programs" class="col-sm-4">
                <mat-card class="module program" [ngStyle]="{'background-color':program.enabled ? 'white' : 'lightgrey' }">
                    <h4 role="button" (click)="openProgram(program)">{{program.name}}</h4>
                    <mat-slide-toggle
                        [color]="primary"
                        [checked]=program.enabled
                        (change)="onChange($event,program)">
                      <span>{{ program.enabled ? 'Enabled' : 'Disabled' }}</span>
                    </mat-slide-toggle>
                </mat-card>
            </div>
            <div class="col-sm-4">
                <mat-card role="button" (click)="addProgram()" class="module program call-to-action">
                    <h4>Add one!</h4>
                </mat-card>
            </div>
          </div>
      </div>
  </div>

  <div class="collection-grid">
      <h1 class="collection-name">
          Service accounts
      </h1>
      <div class="grid grid-pad">
          <div class="row">
            <div *ngFor="let service of services" class="col-sm-4">
                <mat-card class="module service"
                        [class.enabled]="service.enabled"
                        [class.not-enabled]="!service.enabled"
                        (click)="enableService(service)">
                    <h4>{{service.name}}</h4>
                    <div class="letter-call-to-action" *ngIf="!service.enabled">[click to enable]</div>
                </mat-card>
            </div>
          </div>
      </div>
  </div>

  <div *ngIf="monitors !== undefined && monitors.length > 0" class="collection-grid">
    <h1 class="collection-name">
        Monitors
    </h1>
    <div class="grid grid-pad">
      <div class="row">
        <div *ngFor="let monitor of monitors" class="col-sm-4">
            <mat-card class="module monitor">
                <h4>{{monitor.name}}</h4>
            </mat-card>
        </div>
        <!--
        <div class="col-sm-4">
            <mat-card role="button" (click)="addMonitor()" class="module monitor call-to-action">
                <h4>Add one!</h4>
            </mat-card>
        </div>
        -->
      </div>
    </div>
  </div>
  <bridge-index-component></bridge-index-component>
  <!--
  <div class="collection-grid">
    <h1 class="collection-name">
        APIs
    </h1>
    <div class="grid grid-pad">
      <div class="row">
        <div *ngFor="let api of apis" class="col-sm-4">
            <mat-card class="module api">
                <h4>{{api.name}}</h4>
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card role="button" (click)="addAPI()" class="module api call-to-action">
                <h4>Add one!</h4>
            </mat-card>
        </div>
      </div>
    </div>
  </div>
  -->
</div>
