.collection-grid {
    padding: 1em;
}

mat-card.not-enabled {
    background: repeating-linear-gradient(
        45deg,
        #444,
        #444 10px,
        #222 10px,
        #222 20px
    );
    color: white;
}

mat-card.enabled {
    background-color: #227e00;
    color: #fff;
}


div.letter-call-to-action {
    background-color: darkorange;
    font-size: small;
    padding: 1ex;
    border-radius: 2px;
    margin-top: 1ex;
}

mat-card.module > h4 {
    overflow: hidden;
    font-size: 1.15rem;
    cursor: pointer;
}
