<h2 mat-dialog-title>How to enable service</h2>
<mat-dialog-content>
    <div class="rendering-zone"></div>
</mat-dialog-content>
<mat-dialog-actions *ngIf="this.type == 'message'">
    <button class="confirmation" mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>
<mat-dialog-actions *ngIf="this.type == 'form'" class="form-buttons">
    <button class="rejection" mat-button mat-dialog-close>Cancel</button>
    <button class="confirmation" mat-button mat-raised-button  (click)="this.send_form()" color="primary">Submit</button>
</mat-dialog-actions>
