.program-pad #workspace {
    width: 100%;
}

.app-content {
    overflow: hidden;
}

#program-header {
    border-bottom: 1px solid #AAA;
}

button#program-rename-button, button#program-start-button, button#program-delete-button, button#program-stop-button {
    vertical-align: super;
    padding: 1ex;
}

button#program-delete-button{
    float: right;
}

button#program-start-button .action-icon {
    vertical-align: top;
}

.program-name .program-title {
    vertical-align: middle;
}

.program-title {
    font-size: 1.15rem;
}

.program-name {
    display: inline;
    padding-right: 2em;
}

.program-name > a {
    padding-left: 1ex;
}

.program-name .back-arrow {
    vertical-align: middle;
}
