/* You can add global styles to this file, and also import other style files */
@import 'material_theme';

html, body, my-app, mat-sidenav-container, .app-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
    background-color: #fafafa;
}

.app-content {
    height: auto;
}

mat-sidenav, .full-height {
    height: 100%;
}

mat-sidenav.mat-sidenav {
    background-color: #F5F5F5;
}

mat-toolbar-row {
    text-align: center;
    font-size: large;
}

.centered {
    text-align: center;
}

.viewer {
    margin-left: 1em;
}

.grid {
    padding: 1em;
}

form {
    padding: 1em;
}

form > mat-card {
    margin-bottom: 1em;
}

li {
    list-style: none;
}

mat-input-container.full-size {
    width: 100%;
}

mat-card[mat-ink-ripple] {
    position: relative;
}

mat-card.not-persisted {
    background-color: #444;
    color: #eee;
}

mat-card.failed {
    background-color: orangered;
}

.no-top-margin {
    margin-top: 0;
}

mat-card.module {
    margin-bottom: 1ex;
    text-align: center;
}

app-my-login-form, bridge-add-component {
    padding: 1ex;
}

.login-form {
    margin-top: 2em;
    max-width: 40em;
}

.center-block {
    margin: 0 auto;
}

.error-message {
    padding: 1ex;
    text-align: center;
    color: #dd1100;
    font-weight: bold;
}

.accept-cancel {
    text-align: center;
}

.call-to-action {
    background-color: orange !important;
    color: white !important;
}

mat-card.call-to-action > h4 {
    font-weight: bold;
    text-align: center;
}

.actionable-icon {
    margin-right: 1ex;
}

.actionable-icon > mat-icon {
    vertical-align: sub;
}

.test-result {
    whitespace: pre;
    padding: 1em;
    background-color: #eeeeee;
    border-radius: 5px;
}

.test-result {
    line-height: 1.5em;
}

.tagged-json-type-null {
    color: red;
}

.tagged-json-type-boolean {
    font-style: italic;
}

.tagged-json-type-number {
    font-style: italic;
}

.tagged-json-map-key .tagged-json-type-string {
    border-bottom: 2px solid green;
}

.tagged-json-type-string {
    border-bottom: 2px solid orange;
}

.tagged-json-type-list::before {
    content: "[\A";
}

.tagged-json-type-list::after {
    content: "]";
}

.tagged-json-type-map::before {
    content: "{\A";
}

.tagged-json-type-map::after {
    content: "}";
}

.tagged-json-list-element::after {
    content: ",\A";
}

.tagged-json-map-key::after {
    content: ": ";
}

.tagged-json-map-value::after {
    content: ",\A";
}

#nprogress .bar {
    background-color: #deff00 !important;
}


/* How to enable services */
div.console {
    padding: 1ex;
    background-color: #222;
    color: #eee;
    border-radius: 2px;
    font-family: monospace;
}

.rendering-zone span.text {
    white-space: pre-wrap;
}

.form-buttons {
    float: right;
}

/* Bridge cards */
mat-card.bridge.connected-true {
    color: #eee;
    background-color: #227e00;
}

mat-card.bridge.connected-false {
    color: #eee;
    background: repeating-linear-gradient(
        45deg,
        #444,
        #444 10px,
        #222 10px,
        #222 20px
    );
}

/* Template dialog */
.full-dialog-size {
    width: 80vw;
}