<mat-card class="login-form center-block">
    <form class="container-fluid grid grid-pad">
        <div class="col-sm-12">
            <mat-form-field class="full-size col-sm-12">
                <input matInput class="col-sm-12"
                    [(ngModel)]="bridgeName"
                    placeholder="Bridge Name"
                    [readonly]="!editable"
                    name="bridgeName" />
            </mat-form-field>
        </div>

        <div *ngIf="portControlUrl.length> 0"
            class="col-sm-12">
            <mat-form-field class="full-size col-sm-12">
                <input matInput class="col-sm-12"
                    editable
                    [(ngModel)]="portControlUrl"
                    placeholder="Port control URL"
                    readonly="readonly"
                    name="portControlUrl" />
            </mat-form-field>
        </div>


        <div class="col-sm-12">
            <button (click)="create()"
                [disabled]="(bridgeName.length < 4) || (!editable)"
                color="primary" mat-raised-button
                class="call-to-action">
                <span class="createButton">
                    Create
                </span>
            </button>
            <button (click)="back()"
                mat-button>
                Back
            </button>
        </div>
    </form>
</mat-card>
